$header-margin: (
  small: rem-calc(10px 0 30px),
  medium: rem-calc(50px 0)
);

$logo-height: (
  small: rem-calc(35px),
  medium: rem-calc(60px)
);

$button-height: (
  small: rem-calc(35px),
  medium: rem-calc(70px)
);

$header-icon-fz: (
  small: rem-calc(12px),
  medium: rem-calc(22px)
);

$header-space: (
  small: rem-calc(5px),
  medium: rem-calc(10px)
);



.header {
  position: relative;
  margin: map-get($header-margin, small);

  @include breakpoint(medium) {
    margin: map-get($header-margin, medium);
  }
}

.header__logo {
  margin: 0;

  @include breakpoint(small only) {
    position: absolute;
    height: map-get($logo-height, small);
  }

  @include breakpoint(medium) {
    height: map-get($logo-height, medium);
  }

  a {
    display: block;
    height: 100%;
  }

  img {
    width: auto;
    height: 100%;
  }
}

.header__column-actions {
  justify-content: center;

  @include breakpoint(small only) {
    margin-top: map-get($logo-height, small) + (map-get($header-space, small) * 2);
  }
}

.nav-secondary {
  flex: 1 1 100%;

  @include breakpoint(medium) {
    flex: 0 0 auto;
  }
}

.nav-primary {
  flex: 1 1 100%;

  @include breakpoint(medium) {
    flex: 1 1 100%;
  }
}


.nav-primary,
.nav-secondary {
  display: flex;
  justify-content: flex-end;
  margin-right: - map-get($header-space, small) / 2;
  margin-left: - map-get($header-space, small) / 2;

  > * {
    margin-right: map-get($header-space, small) / 2;
    margin-left: map-get($header-space, small) / 2;
  }

  @include breakpoint(medium) {
    justify-content: flex-start;
    margin-right: - map-get($header-space, medium) / 2;
    margin-left: - map-get($header-space, medium) / 2;

    > * {
      margin-right: map-get($header-space, medium) / 2;
      margin-left: map-get($header-space, medium) / 2;
    }
  }
}


.form-search {
  //position: relative;
  z-index: 1;

  @include breakpoint(small only) {
    //top: - map-get($logo-height, small) + (map-get($header-space, small) * 2);
  }

  @include breakpoint(medium) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.form-search__input {
  display: inline-block;
  height: map-get($button-height, small);
  margin-bottom: map-get($header-space, small);
  padding: rem-calc(10);
  transition: all .4s cubic-bezier(0, .795, 0, 1);
  background: $secondary-color;
  color: $white;

  @include breakpoint(small only) {
    position: absolute;
    top: 0;
    right: 0;
    width: map-get($button-height, small);
    margin-bottom: map-get($header-space, small);
    cursor: pointer;
    opacity: 0;
    z-index: 3;

    &:focus {
      width: 100%;
      cursor: text;
      opacity: 1;
      z-index: 1;
    }
  }

  @include breakpoint(medium) {
    flex: 1 1 0;
    order: 2;
    height: map-get($button-height, medium);
    margin-bottom: map-get($header-space, medium);
    padding: rem-calc(10 20);
  }

  &,
  &:focus {
    transition: all .4s cubic-bezier(0, .795, 0, 1);
    border: 2px solid $light-secondary;
    outline: none;
  }

  &:focus {
    background: lighten($secondary-color, 2%);
  }
}

.form-search__button {
  width: map-get($button-height, small);
  height: map-get($button-height, small);
  margin-bottom: map-get($header-space, small);
  padding: 0;
  font-size: map-get($header-icon-fz, small);


  @include breakpoint(small only) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  @include breakpoint(medium) {
    flex: 0 1 auto;
    order: 1;
    width: map-get($button-height, medium);
    height: map-get($button-height, medium);
    margin-right: map-get($header-space, medium);
    margin-bottom: map-get($header-space, medium);
    font-size: map-get($header-icon-fz, medium);
  }
}



.button_account,
.button_language {
  min-width: map-get($button-height, small);
  height: map-get($button-height, small);

  margin-bottom: map-get($header-space, small);
  padding: rem-calc(0 5);

  @include breakpoint(medium) {
    width: map-get($button-height, medium);
    height: map-get($button-height, medium);
    margin-bottom: map-get($header-space, medium);
  }
}


.button_account,
.button_account:visited {
  border-color: $dark-primary;
  background: $dark-secondary;

  font-size: map-get($header-icon-fz, small);

  line-height: map-get($button-height, small) - rem-calc(2);

  @include breakpoint(medium) {
    font-size: map-get($header-icon-fz, medium);
    line-height: map-get($button-height, medium) - rem-calc(2);
  }

  &:hover {
    background-color: $primary-color;
  }
}


.button_language {
  line-height: map-get($button-height, small) - rem-calc(4);

  text-transform: uppercase;

  @include breakpoint(medium) {
    line-height: map-get($button-height, medium) - rem-calc(4);
  }

  > * {
    vertical-align: middle;
  }


  .button__select {
    padding-right: 5px;

    font-weight: bold;
  }

  .icon-angle-down {
    font-size: map-get($header-icon-fz, small);
  }

}

.button__language-wrap {
  position: relative;
}

.button__options {
  right: 0;
  left: 0;
  padding: 0;
  border: $button-border-width solid $light-secondary;
  background-color: $secondary-color;
  text-transform: uppercase;
}

.button__option {
  display: block;
  padding: rem-calc(10 10);
  color: $white;
  font-weight: bold;

  &:hover {
    background-color: $light-secondary;
    color: $white;
  }

}
