$checkbox-width: rem-calc(165);
$checkbox-height: (
  small: rem-calc(35),
  medium: rem-calc(60)
);

$checkbox-padding: rem-calc(5);
$checkbox-border-width: $button-border-width;

.input-wrap__input-checkbox {
  display: inline-block;
  position: relative;
  margin-bottom: $form-input-space;
  cursor: pointer;

  label {
    display: flex;
    margin: 0;
  }

  input[type="checkbox"] {
    display: none;

    &:checked {

      & + .input-wrap__checkbox {
        border-color: $dark-primary;
        background: $primary-color;
        color: $medium-secondary;
      }
    }
  }
}

.input-wrap__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $checkbox-width;
  min-height: map-get($checkbox-height, small);
  margin: 0;
  padding: $checkbox-padding;

  border: $radio-border-width solid transparent;

  transition-duration: $form-transition-duration;
  transition-property: $form-transition-prop;
  transition-timing-function: $form-transition-timing;

  background-color: $light-secondary;
  color: $white;
  text-align: center;
  font-size: map-get($form-label-fz, small);

  @include breakpoint(medium) {
    min-height: map-get($checkbox-height, medium);
    font-size: map-get($form-label-fz, medium);
  }

  span {
    display: inline-block;
  }

  span > * {
    display: block;
    line-height: 1;
  }

  &:hover {
    background: $primary-color;
    color: $medium-secondary;
  }
}
