$color_primary-lighter: hsl(176,58%,61%);
$color_primary-light: hsl(176,58%,55%);
$color_primary: hsl(176,87%,34%);
$color_primary-dark: hsl(176,98%,25%);
$color_primary-darker: hsl(176,100%,20%);

$color_success-lighter: hsl(89,70%,72%);
$color_success-light: hsl(89,70%,58%);
$color_success: hsl(89,70%,48%);
$color_success-dark: hsl(89,70%,41%);
$color_success-darker: hsl(89,70%,35%);

$color_info-lighter: hsl(204,70%,83%);
$color_info-light: hsl(204,70%,75%);
$color_info: hsl(204,70%,66%);
$color_info-dark: hsl(204,70%,58%);
$color_info-darker: hsl(204,70%,53%);

$color_warning-lighter: hsl(38,98%,71%);
$color_warning-light: hsl(38,98%,63%);
$color_warning: hsl(38,99%,57%);
$color_warning-dark: hsl(38,100%,48%);
$color_warning-darker: hsl(38,100%,38%);

$color_danger-lighter: hsl(1,84%,67%);
$color_danger-light: hsl(1,84%,59%);
$color_danger: hsl(1,63%,52%);
$color_danger-dark: hsl(1,81%,36%);
$color_danger-darker: hsl(1,84%,28%);

// gray
$gray_procelain: hsl(210,33%,95%);
$gray_sand: hsl(33,33%,95%);

$gray_navy-lighter: hsl(210,22%,54%);
$gray_navy-light: hsl(210,22%,51%);
$gray_navy: hsl(210,22%,43%);
$gray_navy-dark: hsl(210,22%,37%);
$gray_navy-darker: hsl(210,22%,21%);

$gray_night-light: hsl(222,18%,69%);
$gray_night: hsl(210,18%,44%);
$gray_night-dark: hsl(210,18%,25%);

$gray_night-a30: hsla(222,18%,65%,.3);

$gray_iron: hsl(210,6%,82%);
$gray_default: hsl(210,6%,39%);

$gray_neutral-95: hsl(0,0%,95%);
$gray_neutral-90: hsl(0,0%,90%);
$gray_neutral-80: hsl(0,0%,80%);
$gray_neutral-70: hsl(0,0%,70%);
$gray_neutral-60: hsl(0,0%,60%);
$gray_neutral-50: hsl(0,0%,50%);
$gray_neutral-40: hsl(0,0%,40%);
$gray_neutral-30: hsl(0,0%,30%);
$gray_neutral-20: hsl(0,0%,20%);
$gray_neutral-10: hsl(0,0%,10%);

// black
$black: hsl(0,0%,0%);
$black-a10: hsla(0,0%,0%,.1);
$black-a20: hsla(0,0%,0%,.2);
$black-a30: hsla(0,0%,0%,.3);

// white
$white: hsl(0,0%,100%);
$white-a10: hsla(0,0%,100%,.1);
$white-a20: hsla(0,0%,100%,.2);
$white-a30: hsla(0,0%,100%,.3);
$white-a40: hsla(0,0%,100%,.4);
$white-a50: hsla(0,0%,100%,.5);
$white-a60: hsla(0,0%,100%,.6);

//fonts
$font_0: 'Open Sans';
$font_1: sans-serif;
$font_2: Lato;
$font_3: FontAwesome;
