# junk
.DS_Store
/.idea/
/*.log

# ansible-vagrant
/.vagrant/
/ansible/roles/
/ansible/vars.local.yml
/ansible/vagrant-parameters.yml
/ansible/*.retry

# vendor, cache, logs, parameters, binaries
/app/config/parameters.yml
/var/*
!/var/cache/
/var/cache/*
!/var/cache/.gitkeep
!/var/logs/
/var/logs/*
!/var/logs/.gitkeep
/vendor/
/bin/*
!/bin/console
!/bin/symfony_requirements

# assets, uploads
/node_modules/
/web/assets/*
!/web/assets/.gitkeep
/web/uploads/*
!/web/uploads/.gitkeep

# PHP-CS-Fixer
/.php_cs.*

# tests
/phpunit.xml

# deploy
/deploy/
