# junk
.DS_Store
/.idea/
/*.log

# vendor, cache, logs, parameters, binaries
/var/*
!/var/cache/
/var/cache/*
!/var/cache/.gitkeep
!/var/logs/
/var/logs/*
!/var/logs/.gitkeep
/vendor/
/bin/*
!/bin/console
!/bin/symfony_requirements

# assets, uploads
/node_modules/
/web/assets/*
!/web/assets/.gitkeep
/web/uploads/*
!/web/uploads/.gitkeep

# PHP-CS-Fixer
/.php_cs.*

# tests
/phpunit.xml

# deploy
/deploy/

# docker volume
/.data/
.env
