# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # Database configurations
    database_host: '127.0.0.1'
    database_port: ~
    database_name: 'majoraotastore'
    database_user: 'root'
    database_password: ~
    database_server_version: ~

    # Mail configurations
    mailer_transport:  'smtp'
    mailer_host:       '127.0.0.1'
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret: 'ThisTokenIsNotSoSecretChangeIt'

    # Symfony session path (set this to '/tmp/sessions' for example if you encounter some issues in dev environment)
    session_save_path: '%kernel.root_dir%/../var/sessions/%kernel.environment%'

    # Default locale
    default_locale: 'en'

    # Timezone (such as 'Europe/Paris')
    timezone: 'UTC'

    # Relative path to the directory under "web" directory where builds file will be stored (only used if "stream_builds_content = false")
    web_relative_builds_application_dir: 'uploads'

    # Streaming builds file content
    # Set this to true if you don't want your files to be located under "web" directory
    # (i.e. you don't want your builds to be downloadable using: "http://example.com/my_builds/my_file.ipa"),
    # be aware that it may cause issues if your web server isn't configured to let PHP stream large files.
    stream_builds_content: false

    # Path to the directory from where builds file content will be streamed (only used if "stream_builds_content = true")
    stream_builds_application_dir: '%kernel.root_dir%/../build'

    # Assetic use controller
    assetic_use_controller: false
