
$font-path: '../fonts/' !default;

@font-face {
  font-family: 'ITC Avant Garde';
  src: url('ITCAvantGardeStd-XLt.eot');
  src: url('#{$font-path}ITCAvantGardeStd-XLt.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}ITCAvantGardeStd-XLt.woff') format('woff'),
		url('#{$font-path}ITCAvantGardeStd-XLt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
