{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <form action="{% block application_form_action '' %}"
        method="POST" {{ form_enctype(form) }} >
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i>
            {{ 'admin.application.form.submit_button' }}
        </button>
    </form>
{% endblock %}
