{% extends 'AppBuildAppBundle::layout.html.twig' %}

{% block header %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>{{ 'user.home.title' | trans }}</h1>
        </div>
    </div>
{% endblock %}
