{% extends 'AppbuildUserBundle:Security:form.html.twig' %}

{% block title 'user.my_account.title'|trans %}

{% block cancel_button_url url('appbuild_admin_application_list') %}
{% block extra_inputs '' %}
{% block extra_buttons %}
    <a href="{{ url('appbuild_user_logout') }}" class="button button_action">
        <span>{{ 'user.logout.title'|trans }}</span>
    </a>
{% endblock %}
