.button, button {
  font-weight: bold;
  font-size: rem-calc(17);
  transition: all .3s ease-out;
  appearance: none;
  &.small {
    padding: 0.65em 1.5em;
  }
}

@each $steps, $color in $steps-color {
  .main--step-#{$steps} {
    .button {
      background-color: $color;
      &:hover:not(.disabled) {
        transform: translateY(-1px);
        background-color: darken($color, 10%);
        box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.button {
  &.disabled {
    background: $medium-gray;
    &:hover, &:focus, &:active {
      background: $medium-gray;
    }
  }
}
