.button {
  transition: all .1s ease-out;
  border: 2px solid lighten($secondary-color, 10%);
  appearance: none;

  &:hover {
    transform: scale(1.04);
    background: lighten($secondary-color, 5%);
  }

  &:focus {
    transform: scale(.95);
    outline: none;
  }
}

.button_confirm {
  border: 2px solid darken($primary-color, 10%);
  background-color: $primary-color;
  font-size: rem-calc(18);
  font-style: italic;
  font-weight: bold;
  overflow: hidden;
  appearance: none;

  &:hover {
    background: lighten($primary-color, 5%);
  }
}

.button_confirm-login {
  border: 0;
}
