/* STYLES FORMS */

.input-wrap {
  position: relative;
  margin-bottom: rem-calc(5);
}
.input-wrap__label {
  position: absolute;
  left: rem-calc(20);
  top: rem-calc(10);
  transition: all .2s cubic-bezier(0.4, 0, 0.01, 0.96);
  pointer-events: none;
}
.input-wrap__input {
  padding: rem-calc(20 20 12 20);
  height: auto;
  z-index: 1;
  margin-bottom: rem-calc(5);
  &:focus, &.active {
    outline: none;
    ~ .input-wrap__label {
      font-size: rem-calc(10);
      top: rem-calc(5);
      color: $medium-gray;
    }
    ~ .bar {
      width: 100%;
      margin-left: 0%;
    }
  }
}
.bar {
  position: absolute;
  bottom: 0;
  background: $primary-color;
  width: 0;
  height: 2px;
  margin-left: 50%;
  display: block;
  transition: all .2s cubic-bezier(1, 0.1, 0.35, 1);
}



.article__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.article__actions-message {
  background: $success-color;
  color: $white;
  border-radius: $global-radius;
  display: inline-block;
  padding: rem-calc(15 12 15 50);
  margin-top: rem-calc(10);
  visibility: hidden;
}
