.header__title {
  color: $white;
  font-weight: bold;
  font-size: rem-calc(25);
  margin-top: rem-calc(50);
  margin-bottom: rem-calc(20);

  & > * {
    display: block;
    margin-bottom: rem-calc(5);
  }
}
.header__title-logo {
  text-transform: uppercase;
}
