body, html {
  height: 100%;
}
.main--step-tertiary {
  min-height: 100%;
}

@each $steps, $color in $steps-color {
  .main--step-#{$steps} {
    background-color: $color;
  }
}

.article {
  border-radius: $global-radius;
  box-shadow: rem-calc(0 3 6 2) rgba($black, .3);
  padding: rem-calc(20);
  background: $white;
  margin-bottom: rem-calc(50);
  @include breakpoint(medium) {
    padding: rem-calc(30 100);
  }
}
.article-accordion {
  padding: rem-calc(0 0 140 0);
  overflow: hidden;
}
.article__row {
  margin-bottom: rem-calc(30);
}


@each $steps, $color in $steps-color {
  .--#{$steps} {
    background-color: $color;
  }
}

@each $level, $color in $level-color {
  .--#{$level} {
    color: $color;
  }
}

@each $level, $color in $level-color {
  .--bg-#{$level} {
    background-color: rgba($color, .5);
  }
}
