$reveal-box-shadow: 2px 2px 5px rgba($black, .5);
$reveal-content-margin: rem-calc(20px);

$reveal-transition-prop: $global-transition-prop;
$reveal-transition-duration: $global-transition-duration;
$reveal-transition-timing: $global-transition-timing;

.reveal {
  outline: none;

  color: $white;

  box-shadow: $reveal-box-shadow;

  transform: translateY(-50%);

  transition-duration: $reveal-transition-duration;
  transition-property: $reveal-transition-prop;
  transition-timing-function: $reveal-transition-timing;

  overflow-y: initial;

  .button {
    margin-top: rem-calc(10);
  }

}

.reveal[aria-hidden="false"] {
  transform: translateY(0);
}

.reveal-overlay {
  transition-duration: $reveal-transition-duration;
  transition-property: $reveal-transition-prop;
  transition-timing-function: $reveal-transition-timing;

  opacity: 0;
}

.is-reveal-open {
  .reveal-overlay {
    opacity: 1;
  }
}

.reveal__content {
  margin-bottom: $reveal-content-margin;
}
