$reveal-box-shadow: 2px 2px 5px rgba($black, .5);
$reveal-content-margin: rem-calc(20px);
$reveal-padding: (
  small: rem-calc(10px),
  medium: rem-calc(40px)
);

$reveal-transition-prop: $global-transition-prop;
$reveal-transition-duration: $global-transition-duration;
$reveal-transition-timing: $global-transition-timing;

$reveal-content-padding: (
  small: rem-calc(15 10),
  medium: rem-calc(15)
);

.reveal {
  padding: map-get($reveal-padding, small);

  transform: translateY(-50%);

  transition-duration: $reveal-transition-duration;
  transition-property: $reveal-transition-prop;
  transition-timing-function: $reveal-transition-timing;

  outline: none;

  color: $white;

  box-shadow: $reveal-box-shadow;

  overflow-y: initial;

  @include breakpoint(medium) {
    padding: map-get($reveal-padding, medium);
  }

  .button {
    margin-top: rem-calc(10);
  }

}

.reveal[aria-hidden="false"] {
  transform: translateY(0);
}

.reveal-overlay {
  transition-duration: $reveal-transition-duration;
  transition-property: $reveal-transition-prop;
  transition-timing-function: $reveal-transition-timing;

  opacity: 0;
}

.is-reveal-open {
  .reveal-overlay {
    opacity: 1;
  }
}

.reveal__content {
  margin-bottom: $reveal-content-margin;

  .row {
    margin-right: - $global-space;
    margin-left: - $global-space;
  }
}

.reveal__block {
  margin-bottom: $global-space * 2;
  padding: map-get($reveal-content-padding, small);
  background: $white;
  color: $black;

  @include breakpoint (medium) {
    padding: map-get($reveal-content-padding, medium);
  }

  .label {
    margin-right: $global-space * 2;
    color: $primary-color;
    font-style: italic;
    font-weight: bold;
  }

}

.reveal__columns {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  > * {
    flex: 1 1 0;
  }

  .reveal__block {
    display: flex;
    align-items: center;
  }
}
