.article__accordion__container {
  .table__cell {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
}

.table {
  width: 100%;
}
.table__row {
  display: flex;
  border-bottom: 1px solid $medium-gray;
}
.table__cell {
  flex: 2 1 0;
  align-items: flex-end;
  vertical-align: middle;
}
.table__cell--small {
  flex: 1 1 0;
}
.table__cell--large {
  flex-grow: 3;
}

.table__row-head {
  color: $medium-gray;
  font-weight: 500;
  // & ~ .accordion {
  //   border-top: 1px solid $medium-gray;
  // }
}
.table__row-content {
  transition: all .3s ease;

}
.table__cell-head {
  padding: rem-calc(0 0 20 0);
  &:not(.text-left) {
    text-align: right;
  }
}
.table__cell-content {
  font-weight: 500;
  padding: rem-calc(20 0);
  &:not(.text-left) {
    text-align: right;
  }
  .icon {
    font-size: rem-calc(20);
  }
}
.table__row-accordion {

  .table__cell-content {
    cursor: pointer;
  }
  &:hover {
    background: rgba($light-gray, .1);
  }
}

.table__row-accordion-head {
  &:after {
    right: - rem-calc(35);
    top: rem-calc(12);
  }
}
.table__row__container {
  padding: rem-calc(0 20 0 20);
  @each $level, $color in $level-color-bg {
    &.-#{$level} {
      background: rgba($color, .1);
    }
  }
}

.row__lot-validated {
  margin-bottom: rem-calc(15);
  .columns {
    margin-bottom: rem-calc(5);
  }
}

.lot-validated__legend {
  vertical-align: middle;
  margin-left: rem-calc(5);
}

.table__metadata {
  .table__row {
    border: 0;
  }
  .table__cell-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}
