.table {
  display: table;
  width: 100%;
  border-collapse: separate;
}

.table__row {
  display: table-row;
}

.table__cell-head {
  border-bottom: rem-calc(10) solid $dark-secondary;
}

.table__cell {
  display: table-cell;
  padding: rem-calc(12 0);

  .table__cell__content {
    padding: rem-calc(10 20);
  }

  &:not(:first-child) {
    .table__cell__content {
      border-left: 1px solid $secondary-color;
    }
  }

  &.table__cell-head-actions {
    .table__cell__content {
      border-left-color: transparent;
    }
  }
}

.table__cell-content {
  border-bottom: rem-calc(4) solid $dark-secondary;
}

.table__row-head {
  background: $primary-color;
  color: $white;
  font-style: italic;
  font-weight: bold;
}

.table__row-content {
  background-color: $white;
}

.label-version {
  padding: rem-calc(3 15);
  float: right;
  background: $black;
  color: $white;
  font-size: rem-calc(14);
}

.label-new {
  padding: rem-calc(3 5);
  float: right;
  background: $primary-color;
  color: $white;
  font-size: rem-calc(12);
  text-transform: uppercase;
}
