.article__title {
  font-size: rem-calc(22);
  font-weight: 500;
  margin-bottom: rem-calc(20);
}

@each $steps, $color in $steps-color {
  .main--step-#{$steps} {
    .article__title {
      color: $color;
    }
  }
}

.article__current-date {
  font-weight: 500;
  font-size: rem-calc(18);
}
