upstream {{ item.upstream }} {
    server {{ item.node_host|default('127.0.0.1') }}:{{ item.node_port|default('3000') }};
}

server {
    listen {{ item.port|default('80') }};
    server_name {{ item.server_name }};

    access_log  /var/log/nginx/{{ item.name }}.access.log;
    error_log  /var/log/nginx/{{ item.name }}.error.log;

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-NginX-Proxy true;

        proxy_pass http://{{ item.upstream }}/;
        proxy_redirect off;
    }
}
