server {
    listen {{ item.port|default('80') }};
    root  {{ item.docroot|default('/var/www/'~item.name) }};
    server_name {{ item.server_name }};
    client_max_body_size {{ item.client_max_body_size|default('10M') }};

    proxy_buffer_size 128k;
    proxy_buffers 4 256k;
    proxy_busy_buffers_size 256k;

    access_log  /var/log/nginx/{{ item.name }}.access.log;
    error_log  /var/log/nginx/{{ item.name }}.error.log;

    #site root is redirected to the app boot script
    location = / {
        try_files @site @site;
    }

    #all other locations try other files first and go to our front controller if none of them exists
    location / {
        try_files $uri $uri/ @site;
    }

    #return 404 for all php files as we do have a front controller
    location ~ \.php$ {
        return 404;
    }

    location @site {
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root/index.php;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        fastcgi_param HTTPS off;
        fastcgi_buffer_size 128k;
        fastcgi_buffers 4 256k;
        fastcgi_busy_buffers_size 256k;
        fastcgi_read_timeout 300s;
        fastcgi_param APP_ENV dev;
    }
}
