<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppBuild</title>
    <link rel="stylesheet" href="../../public/css/app.css">
  </head>
  <body>
    <div class="row">

      <div class="columns small-12">
        <header class="header">
          <div class="row">
            <div class="columns small-12 medium-3">
              <h1 class="logo header__logo"><a href=""><img src="../../public/img/logo.svg" alt=""></a></h1>
            </div>
            <div class="header__column-actions columns small-12 medium-9">
              <div class="row">
                <div class="columns small-12 medium-expand">
                  <form class="form-search" action="" autocomplete="on">
                    <input id="search" name="search" type="text" class="form-search__input">
                    <button id="search_submit" value="Rechercher" type="submit" class="form-search__button button button_confirm"><i class="icon-search"> </i></button>
                  </form>
                </div>
                <div class="columns shrink">
                  <a href="" class="button button_account"><i class="icon-user">  </i></a>
                </div>
                <div class="columns medium-12">
                  <a href="" class="button button_navigation">nouvelle application</a>
                  <a href="" class="button button_navigation">utilisateurs</a>
                </div>
              </div>
            </div>
          </div>
        </header>
        <section>

          <header class="row align-middle header-section" data-anim-appear>
            <div class="columns">
              <h1 class="title title_main">Mes applications</h1>
            </div>
            <div class="columns shrink">
              <a href="" class="button button_navigation">Créer un nouvel utilisateur</a>
            </div>
          </header>
          <article class="table">
            <div class="table__row table__row-head" data-anim-appear>
              <div class="table__cell table__cell-head table__cell--small">
                <div class="table__cell__content">OS</div>
              </div>
              <div class="table__cell table__cell-head">
                <div class="table__cell__content">Application</div>
              </div>
              <div class="table__cell table__cell-head table__cell--medium">
                <div class="table__cell__content">Dernier build</div>
              </div>
              <div class="table__cell table__cell-head table__cell--medium">
                <div class="table__cell__content">Commentaire</div>
              </div>
              <div class="table__cell table__cell-head table__cell-head-actions table__cell--shrink">
                <div class="table__cell__content"></div>
              </div>
            </div>
            <div class="table__row table__row-content" data-anim-appear>
              <div class="table__cell table__cell-content table__cell--shrink">
                <div class="table__cell__content">
                  <i class="icon-os icon-apple"></i>
                </div>
              </div>
              <div class="table__cell table__cell-content">
                <div class="table__cell__content"><span class="app-picture" style="background-image:url('')"></span>  RemindTheLink</div>
              </div>
              <div class="table__cell table__cell-content table__cell--medium">
                <div class="table__cell__content">
                  <a href=""><i class="icon-download"></i> RemindTheLink-Android</a>
                  <span class="label-version">0.1</span>
                </div>
              </div>
              <div class="table__cell table__cell-content table__cell--medium">
                <div class="table__cell__content">
                  <a href="">Truc de fifou ce build...</a>
                  <span class="label-new">nouveau</span>
                </div>
              </div>
              <div class="table__cell table__cell-content table__cell--xs table__cell--shrink">
                <div class="table__cell__content">
                  <a href="" class="icon icon-action icon-update"></a>
                </div>
              </div>
            </div>
            <div class="table__row table__row-content" data-anim-appear>
              <div class="table__cell table__cell-content table__cell--shrink">
                <div class="table__cell__content">
                  <i class="icon-os icon-android"></i>
                </div>
              </div>
              <div class="table__cell table__cell-content">
                <div class="table__cell__content"><span class="app-picture" style="background-image:url('')"></span>  RemindTheLink</div>
              </div>
              <div class="table__cell table__cell-content table__cell--medium">
                <div class="table__cell__content">
                  <a href=""><i class="icon-download"></i> RemindTheLink-Android</a>
                  <span class="label-version">0.1</span>
                </div>
              </div>
              <div class="table__cell table__cell-content table__cell--medium">
                <div class="table__cell__content">
                  <a href="">Truc de fifou ce build...</a>
                  <span class="label-new">nouveau</span>
                </div>
              </div>
              <div class="table__cell table__cell-content table__cell--xs table__cell--shrink">
                <div class="table__cell__content">
                  <a href="" class="icon icon-action icon-update"></a>
                </div>
              </div>
            </div>
            <div class="table__row table__row-content" data-anim-appear>
              <div class="table__cell table__cell-content table__cell--shrink">
                <div class="table__cell__content">
                  <i class="icon-os icon-apple"></i>
                </div>
              </div>
              <div class="table__cell table__cell-content">
                <div class="table__cell__content"><span class="app-picture" style="background-image:url('')"></span>  RemindTheLink</div>
              </div>
              <div class="table__cell table__cell-content table__cell--medium">
                <div class="table__cell__content">
                  <a href=""><i class="icon-download"></i> RemindTheLink-Android</a>
                  <span class="label-version">0.1</span>
                </div>
              </div>
              <div class="table__cell table__cell-content table__cell--medium">
                <div class="table__cell__content">
                  <a href="">Truc de fifou ce build...</a>
                  <span class="label-new">nouveau</span>
                </div>
              </div>
              <div class="table__cell table__cell-content table__cell--xs table__cell--shrink">
                <div class="table__cell__content">
                  <a href="" class="icon icon-action icon-update"></a>
                </div>
              </div>
            </div>
            <div class="table__row table__row-content" data-anim-appear>
              <div class="table__cell table__cell-content table__cell--shrink">
                <div class="table__cell__content">
                  <i class="icon-os icon-android"></i>
                </div>
              </div>
              <div class="table__cell table__cell-content">
                <div class="table__cell__content"><span class="app-picture" style="background-image:url('')"></span>  RemindTheLink</div>
              </div>
              <div class="table__cell table__cell-content table__cell--medium">
                <div class="table__cell__content">
                  <a href=""><i class="icon-download"></i> RemindTheLink-Android</a>
                  <span class="label-version">0.1</span>
                </div>
              </div>
              <div class="table__cell table__cell-content table__cell--medium">
                <div class="table__cell__content">
                  <a href="">Truc de fifou ce build...</a>
                  <span class="label-new">nouveau</span>
                </div>
              </div>
              <div class="table__cell table__cell-content table__cell--xs table__cell--shrink">
                <div class="table__cell__content">
                  <a href="" class="icon icon-action icon-update"></a>
                </div>
              </div>
            </div>
          </article>
          <aside class="pagination">
            <ul>
              <li class="pagination__item"><a class="pagination__link" href="">1</a></li>
              <li class="pagination__item"><a class="pagination__link" href="">2</a></li>
              <li class="pagination__item"><a class="pagination__link" href=""><i class="icon-angle-right">  </i></a></li>
            </ul>

          </aside>
        </section>
      </div>
    </div>


    <script src="../../public/js/app.js"></script>
  </body>
</html>
